In [3]:
import pandas as pd
from sqlalchemy import create_engine
import sqlalchemy as db

In [4]:
engine = db.create_engine("mysql://root:root@172.16.5.4:3310/retail_db")

In [6]:
customers_df = pd.read_sql_table("customers", engine)
orders_df = pd.read_sql_table("orders", engine)
order_items_df = pd.read_sql_table("order_items", engine)
products_df = pd.read_sql_table("products", engine)
categories_df = pd.read_sql_table("categories", engine)
departments_df = pd.read_sql_table("departments", engine)

In [7]:
customers_df.count()

customer_id          12435
customer_fname       12435
customer_lname       12435
customer_email       12435
customer_password    12435
customer_street      12435
customer_city        12435
customer_state       12435
customer_zipcode     12435
dtype: int64

In [9]:
total_clientes = customers_df["customer_id"].nunique()
print(f"El total de clientes es {total_clientes}")

El total de clientes es 12435

In [12]:
clientes_x_estado = customers_df['customer_city'].value_counts()
clientes_x_estado

customer_city
Caguas           4584
Chicago           274
Brooklyn          225
Los Angeles       224
New York          120
                 ...
Allentown           3
National City       2
Ponce               2
Freehold            2
Gwynn Oak           2
Name: count, Length: 562, dtype: int64

In [17]:
categorias_x_departamento = categories_df.groupby("category_department_id")['category_id'].count()
print(f"Categorias por departamentos \n {categorias_x_departamento}")

Categorias por departamentos
 category_department_id
2     8
3     8
4     6
5     7
6    12
7     7
8    10
Name: category_id, dtype: int64

In [19]:
distribucion_categorias_x_departamento = categories_df.merge(departments_df,left_on='category_department_id', right_on='department_id')
distribucion_categorias_x_departamento = distribucion_categorias_x_departamento['department_name'].value_counts()
distribucion_categorias_x_departamento

department_name
Outdoors    12
Fitness      8
Footwear     8
Golf         7
Fan Shop     7
Apparel      6
Name: count, dtype: int64

In [25]:
precio_promedio = products_df['product_price'].mean()
print(f"El precio promedio es: {precio_promedio:.2f}")

El precio promedio es: 125.00

In [29]:
nulos_imagenes = products_df['product_image'].isnull().sum()
no_nulos_imagenes = products_df['product_image'].notnull().sum()

In [31]:
# El total de ordenes por estado (customer)
merge_orders_customers = orders_df.merge(customers_df, left_on='order_customer_id', right_on='customer_id')
total_ordenes_x_estado = merge_orders_customers.groupby('customer_city')['order_id'].count()
total_ordenes_x_estado

customer_city
Aguadilla       25
Alameda         48
Albany          38
Albuquerque    219
Algonquin       47
              ...
Yonkers         46
York            90
Ypsilanti       57
Yuma            37
Zanesville      41
Name: order_id, Length: 562, dtype: int64

In [40]:
# Cual es el producto mas vendido
producto_mas_vendido = order_items_df.groupby("order_item_product_id")['order_item_quantity'].sum().idxmax()
producto_mas_vendido = products_df.query(f"product_id == {producto_mas_vendido}")["product_name"].values[0]
producto_mas_vendido

'Perfect Fitness Perfect Rip Deck'

In [41]:
# productos mas caros y mas baratos
producto_caro = products_df.loc[products_df['product_price'].idxmax()]
producto_barato = products_df.loc[products_df['product_price'].idxmin()]

print(f"Producto mas caro {producto_caro}")
print(f"Producto barato {producto_barato}")

Producto mas caro product_id                                                           208
product_category_id                                                   10
product_name                                         SOLE E35 Elliptical
product_description
product_price                                                    1999.99
product_image          http://images.acmesports.sports/SOLE+E35+Ellip...
Name: 207, dtype: object
Producto barato product_id                                                            38
product_category_id                                                    3
product_name               Nike Men's Hypervenom Phantom Premium FG Socc
product_description
product_price                                                        0.0
product_image          http://images.acmesports.sports/Nike+Men%27s+H...
Name: 37, dtype: object

In [52]:
# los productos mas comprados por cliente
productos_x_clientes = order_items_df.merge(orders_df, left_on='order_item_order_id', right_on='order_id')
productos_x_clientes = productos_x_clientes.groupby(['order_customer_id','order_item_product_id'])['order_item_quantity'].sum().reset_index()
productos_x_clientes = productos_x_clientes.merge(customers_df, left_on='order_customer_id', right_on='customer_id')\
                        .merge(products_df, left_on='order_item_product_id', right_on='product_id')
productos_mas_comprados_x_cliente = productos_x_clientes.loc[productos_x_clientes.groupby('order_customer_id')['order_item_quantity'].idxmax()]
productos_mas_comprados_x_cliente

,order_customer_id,order_item_product_id,order_item_quantity,customer_id,customer_fname,customer_lname,customer_email,customer_password,customer_street,customer_city,customer_state,customer_zipcode,product_id,product_category_id,product_name,product_description,product_price,product_image
0,1,191,5,1,Richard,Hernandez,XXXXXXXXX,XXXXXXXXX,6303 Heather Plaza,Brownsville,TX,78521,191,9,Nike Men's Free 5.0+ Running Shoe,,99.99,http://images.acmesports.sports/Nike+Men%27s+F...
6,2,1014,7,2,Mary,Barrett,XXXXXXXXX,XXXXXXXXX,9526 Noble Embers Ridge,Littleton,CO,80126,1014,46,O'Brien Men's Neoprene Life Vest,,49.98,http://images.acmesports.sports/O%27Brien+Men%...
10,3,365,13,3,Ann,Smith,XXXXXXXXX,XXXXXXXXX,3422 Blue Pioneer Bend,Caguas,PR,00725,365,17,Perfect Fitness Perfect Rip Deck,,59.99,http://images.acmesports.sports/Perfect+Fitnes...
17,4,365,19,4,Mary,Jones,XXXXXXXXX,XXXXXXXXX,8324 Little Common,San Marcos,CA,92069,365,17,Perfect Fitness Perfect Rip Deck,,59.99,http://images.acmesports.sports/Perfect+Fitnes...
27,5,1014,6,5,Robert,Hudson,XXXXXXXXX,XXXXXXXXX,10 Crystal River Mall,Caguas,PR,00725,1014,46,O'Brien Men's Neoprene Life Vest,,49.98,http://images.acmesports.sports/O%27Brien+Men%...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92839,12431,502,22,12431,Mary,Rios,XXXXXXXXX,XXXXXXXXX,1221 Cinder Pines,Kaneohe,HI,96744,502,24,Nike Men's Dri-FIT Victory Golf Polo,,50.00,http://images.acmesports.sports/Nike+Men%27s+D...
92855,12432,1014,19,12432,Angela,Smith,XXXXXXXXX,XXXXXXXXX,1525 Jagged Barn Highlands,Caguas,PR,00725,1014,46,O'Brien Men's Neoprene Life Vest,,49.98,http://images.acmesports.sports/O%27Brien+Men%...
92859,12433,627,11,12433,Benjamin,Garcia,XXXXXXXXX,XXXXXXXXX,5459 Noble Brook Landing,Levittown,NY,11756,627,29,Under Armour Girls' Toddler Spine Surge Runni,,39.99,http://images.acmesports.sports/Under+Armour+G...
92866,12434,502,10,12434,Mary,Mills,XXXXXXXXX,XXXXXXXXX,9720 Colonial Parade,Caguas,PR,00725,502,24,Nike Men's Dri-FIT Victory Golf Polo,,50.00,http://images.acmesports.sports/Nike+Men%27s+D...
92870,12435,191,5,12435,Laura,Horton,XXXXXXXXX,XXXXXXXXX,5736 Honey Downs,Summerville,SC,29483,191,9,Nike Men's Free 5.0+ Running Shoe,,99.99,http://images.acmesports.sports/Nike+Men%27s+F...

In [53]:
# el total gastado por cada cliente -- El cliente que mas ha gastado
# categoria que tuvo mejor rendimiento en terminos de ventas

In [58]:

# promedio de ingresos por dia

merge_df = orders_df.merge(order_items_df, left_on='order_id', right_on='order_item_order_id', how='left')
promedio_df = merge_df[['order_id', 'order_date', 'order_item_subtotal']].drop_duplicates()\
              .groupby('order_date').sum()['order_item_subtotal'] / \
               merge_df[['order_date', 'order_item_order_id']].drop_duplicates()\
              .groupby('order_date').count()['order_item_order_id']
promedio_df

order_date
2013-07-25    548.313017
2013-07-26    547.643219
2013-07-27    531.000286
2013-07-28    519.895443
2013-07-29    590.545833
                 ...
2014-07-20    539.775950
2014-07-21    554.769455
2014-07-22    572.947692
2014-07-23    601.890145
2014-07-24    550.647152
Length: 364, dtype: float64

In [ ]:
# promedio de ingreso por mes