In [2]:
var1 = 6

if var1 == '6' :
    print("Es verdader")
    print("Ingreso!")
else :
    print("Es false")

Es false

In [3]:
if var1 == '6' :
print("Es verdader")
print("Ingreso!")
else :
print("Es false")

IndentationError: expected an indented block after 'if' statement on line 1 (1603549254.py, line 2)

In [4]:
# Esto es un comentario
# El metodo realiza tal accion
print("Hola mundo")

Hola mundo

In [5]:
# variables

a  = 5 # int
b = "DATAPATH" # String

print(a)
print(b)

5
DATAPATH

In [6]:
print(type(a))
print(type(b))

<class 'int'>
<class 'str'>

In [7]:
c = 2.0
print(type(c))

<class 'float'>

In [8]:
x, y, z = "Manzana" , "Platano", "Pera"

In [11]:
print(z)

Pera

In [12]:
# Tipos de datos

#String

var1 = "Manzana"
var = 'Manzana'

In [15]:
print(var1)
print(var1[0])
print(var1[3])

Manzana
M
z

In [16]:
# Numericos
int_num = 10 
float_num = 10.5
complex_num = 3.14j

In [17]:
print(type(complex_num))

<class 'complex'>

In [18]:
# listas

list_1 = []

list_2 = [1, 2, 3, 4, 5] # lista de enteros

list_3 = ['Manzana', "Platano"] # lista de string

list_4 = [1, 2, "Manzana", 1.4j]

print(list_1)
print(list_2)
print(list_3)
print(list_4)

[]
[1, 2, 3, 4, 5]
['Manzana', 'Platano']
[1, 2, 'Manzana', 1.4j]

In [19]:
list_5 = ["Manzana", [1,2,3], ['a', 'b']] # lista anidada
print(list_5)

['Manzana', [1, 2, 3], ['a', 'b']]

In [20]:
list_6 = ['x', 'y', 'z', ['a', 'b', 1, 2]]

In [26]:
print(list_6[3][1])

b

In [27]:
print(list_6[3.0])

TypeError: list indices must be integers or slices, not float

In [30]:
print(list_6)

['x', 'y', 'z', ['a', 'b', 1, 2]]

In [31]:
print(list_6[1:4])

['y', 'z', ['a', 'b', 1, 2]]

In [32]:
print(list_6[2:])

['z', ['a', 'b', 1, 2]]

In [33]:
# Cambiando el primer elemento
list_6[0] = 'w'
print(list_6)

['w', 'y', 'z', ['a', 'b', 1, 2]]

In [34]:
list_6[0:3] = [1, 2, 3]

In [35]:
print(list_6)

[1, 2, 3, ['a', 'b', 1, 2]]

In [38]:
# Append
list_6.append(['b', 'n'])
print(list_6)

[1, 2, 3, ['a', 'b', 1, 2], 'm', 'm', ['b', 'n']]

In [39]:
# Extend
list_6.extend(['b', 'n'])
print(list_6)

[1, 2, 3, ['a', 'b', 1, 2], 'm', 'm', ['b', 'n'], 'b', 'n']

In [40]:
for element in list_6:
    print(element)

1
2
3
['a', 'b', 1, 2]
m
m
['b', 'n']
b
n

In [41]:
# Tuplas

tupla_1 = ()

In [42]:
tupla_2 = (1, 2, 3)
print(tupla_2)

(1, 2, 3)

In [43]:
tupla_3 = (1, 2, "Manzana", 5.4j)
print(tupla_3)

(1, 2, 'Manzana', 5.4j)

In [44]:
tupla_4 = ((1, 2, 3), [2, 3, 4], 1, 5)
print(tupla_4)

((1, 2, 3), [2, 3, 4], 1, 5)

In [46]:
print(type(tupla_4))

<class 'tuple'>

In [51]:
tupla_5 = ("Manzana",)
print(type(tupla_5))

<class 'tuple'>

In [54]:
tupla_5 = "Manzana","Platano"
print(type(tupla_5))

<class 'tuple'>

In [59]:
print(tupla_4[1][1])

3

In [61]:
print(tupla_4[1:3])

([2, 3, 4], 1)

In [63]:
for nombre in ("Juan", "Pedro"):
    print(nombre)

Juan
Pedro

In [64]:
# Diccionario
# {
#     "nombre": "Juan",
#     "apellido": "Perez"
# }

dict_1 = {}

dict_2 = { 1: 'Manzana', 2: 'Pera'}

dict_3 = { "nombre": "Juan", "apellido": "Perez"}

dict_4 = { 1: [12, 14, 15], "nombre": "Juan"}

In [65]:
print(dict_4)

{1: [12, 14, 15], 'nombre': 'Juan'}

In [67]:
print(dict_3['apellido'])

Perez

In [69]:
print(dict_4[1])
print(dict_4["nombre"])

[12, 14, 15]
Juan

In [70]:
dict_5 = {"nombre":"Juan", "edad": 25}

In [71]:
print(dict_5["nombre"])
print(dict_5.get("nombre"))

Juan
Juan

In [76]:
print(dict_5['direccion'])

Lima

In [73]:
print(dict_5.get("direccion"))

None

In [74]:
dict_5['edad'] = 28
print(dict_5)

{'nombre': 'Juan', 'edad': 28}

In [75]:
dict_5["direccion"] = "Lima"
print(dict_5)

{'nombre': 'Juan', 'edad': 28, 'direccion': 'Lima'}

In [79]:
for key in dict_5:
    print(key, '->', dict_5[key])

nombre -> Juan
edad -> 28
direccion -> Lima

In [83]:
# Control de flujo

# If

num = -5

if num > 0 :
    print(num, " es mayor que cero")
    print("Y es un numero positivo")
else :
    print(num, " es negativo")

-5  es negativo

In [87]:
num = float(input("Ingresa un numero"))

if num >= 0 : 
    if num == 0:
        print("El numero es cero")
    else:
        print("El numero es positivo")
else :
    print("El numero es negativo")

El numero es negativo

In [89]:
numeros = [1, 2, 3, 4, 5]

suma = 0

for num in numeros:
    suma = suma + num
    print(suma)

1
3
6
10
15

In [101]:
n = 450
suma = 0
i = 1

while i <= n:
    suma +=i
    i = i + 1

print("La suma es ", suma)

La suma es  101475

In [94]:
for val in "Manzana":

    if val == 'a':
        break
    print(val)

M

In [97]:
def get_user():
    pass

In [95]:
for val in "Manzana":

    if val == 'a':
        pass
    print(val)

M
a
n
z
a
n
a

In [100]:
try:
    print("Try")
    b = 5/0
except Exception as e:
    print("Error:")
    print(e)

Try
Error:
division by zero

In [107]:
#Operadores
a = 5
b = 3

x = a; x+=b; print(x)
x = a; x*=b; print(x)
x = a; x/=b; print(x)
x = a; x//=b; print(x)
x = a; x%=b; print(x)
x = a; x**=b; print(x)

8
15
1.6666666666666667
1
2
125

In [114]:
# Realizar un script en el cual solo sumen los numeros impares
list_num = list(range(1,100))
suma = 0 
for num in list_num:
    if num%2 == 1:
        suma += num

print(suma)

2500

In [109]:
# Realizar un script en el cual cuentes la frecuencia de elementos en una lista
list_elem = ['a', 'b', 'c', 'd', 'a', 'e', 'f', 'd', 'a', 'c']

In [112]:
sum = 0

for num in range(1,101,2):
    sum += num
print(sum)

2500

In [111]:
colors = ['blue','blue','blue','green','red','green','white','white','white']
color_dict = {}

for item in colors:
    color_dict[item] = colors.count(item)

print(color_dict)

{'blue': 3, 'green': 2, 'red': 1, 'white': 3}

In [115]:
# Funciones

def mi_funcion(x):
    return 2*x

mi_funcion(4)

8

In [117]:
def greeting():
    return "Hello"

greeting()

'Hello'

In [ ]:
def read_table(tabla):
    query = f"SELECT * FROM {tabla}"
    
    return execute_query(query)

In [118]:
saludo = lambda: "Hola"

print(saludo())

Hola

In [119]:
suma = lambda a,b: a+b
print(suma(2,5))

7

In [120]:
doble = lambda x: 2*x

print(doble(5))

10

In [121]:
list_num = [1,2,3]

resultado = list(map(lambda x: x *2, list_num))

[2, 4, 6]